.rs-panel {
    margin-top: 50px;
    font-size: 1.2em;
}

.reviews-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviews-flex > p {
    margin: 0;
}

.rs-list {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    box-shadow: none !important;
}

.rs-list-item {
    padding: 30px;
    border-radius: 1em;
    background-color: #f4f4f4;
}

  
.reviews-title {
    margin: 1em 3em;
}

.edit-btn {
    margin-top: 10px;
}

.user-name {
    font-size: 1.5;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .rs-list {
        margin-left: 2em; 
    }

    .reviews-title {
        margin: 1em 1.5em;
    }

}

@media screen and (max-width: 767px) {
    .rs-list {
        margin-left: 0; 
    }

    .reviews-title {
        margin: 1em 0;
    }
}