.rs-panel {
    margin-top: 50px;
    font-size: 1.2em;
}

.reviews-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviews-flex > p {
    margin: 0;
}

.rs-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    box-shadow: none;
    box-shadow: none !important;
}

.rs-list-item {
    padding: 30px;
    border-radius: 1em;
    background-color: #f4f4f4;
}

  
.reviews-title {
    margin: 10px 0 20px 0;
}

.edit-btn {
    margin-top: 10px;
}

.user-name {
    font-size: 1.5;
    font-weight: 700;
}