.Form-Add,
.login-message {
    margin-top: 60px;
    margin-left: 2.5em;
}

.add-name {
    margin-right: 40px;
}

.add-form {
    margin: 20px 0;
}

.guest-message {
    font-size: .6em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .Form-Add,
    .login-message {
        margin-left: 1.5em;
    }
}

@media screen and (max-width: 767px) {

    .Form-Add,
    .login-message {
        margin-left: 0;
    }

    .login-message {
        text-align: center;
    }
}