.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    transition: transform 0.2s;
    padding: 5px;
}


.Card>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card > img {
    width: 100%;
}


.Card:hover {
    transform: scale(1.05);
}

.Card-link,
.Card-link:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.name-home {
    font-family: 'Aboreto', cursive;
    font-size: 1.3em;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
    .name-home {
        font-size: 1.1em;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .name-home {
        font-size: 2em;
    }
  }
  

  
  @media screen and (max-width: 767px) {
    .name-home {
        font-size: 2em;
    }
  }