@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Baskerville:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.App {
  background-color: #A5A5A5;
  font-family: 'Libre Baskerville', serif;

}

.title {
  font-weight: 700;
  color: #403f3f;
}