main {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        padding: 10px;
    }
  }
  
  @media screen and (max-width: 767px) {
    main {
        padding: 5px;
    }
  }