.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Row {
    width: 87%;
    display: flex;
    gap: 30px;
}

.banner {
    margin-bottom: 10px;
    width: 95%;
}

.Message {
    width: 82%;
    margin-top: 10px;
    box-shadow: 3px 3px 10px #828282;
}

.Message div {
    text-align: center;
    background-color: #f4f4f4;
    border-radius: .5em;
    font-size: 1.1em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Row {
        gap: 10px;
        width: 90%;

    }
    .Message {
        margin-top: 5px;
    }
    .Message div {
        font-size: 1em;
    }

}

@media screen and (max-width: 767px) {

    .banner {
        margin-bottom: 5px;
        width: 100%;
    }
    .Row {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 0;
    }

    .Message {
        width: 88%;
    }
    .Message div {
        font-size: .9em;
    }
    
  }