.Navbar {
  padding: 10px 40px;
  background-color: #f4f4f4;
}

.Nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

}

.home-link,
.home-link:visited,
.home-link:hover,
.home-link:active,
.home-link:focus {
  font-size: 1.8em;
  text-decoration: none;
  color: #403f3f;
  cursor: pointer;
}

.btn {
  color: #403f3f;
  font-size: 1.5em;
  background-color: #DCCCBD;
  border: 1px solid #868585;
}

