.Navbar {
  padding: 10px 30px;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 10px #909090a2;
}

.Nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

}


.home-link,
.home-link:visited,
.home-link:hover,
.home-link:active,
.home-link:focus {
  font-size: 1.8em;
  text-decoration: none;
  color: #403f3f;
  cursor: pointer;
}

.Nav > button {
  color: #403f3f;
  font-size: 1.6em;
  background-color: #dad4ce;
  box-shadow: 3px 3px 8px #bab9b9;
}

