.Nav {
  padding: 10px 90px;
  box-shadow: 3px 3px 10px #909090a2;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}


.home-link,
.home-link:visited,
.home-link:hover,
.home-link:active,
.home-link:focus {
  font-size: 1.8em;
  text-decoration: none;
  color: #403f3f;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right > button {
  margin-left: 20px;
  color: #403f3f;
  font-size: 1.6em;
  background-color: #dad4ce;
  box-shadow: 3px 3px 8px #bab9b9;
}

