.Profile {
    padding: 0;
}

.Panel {
    background-color: #f4f4f4;
    font-size: 1.3em;
    color: #403f3f;
    padding: 20px;
}

.Reviews {
    margin-left: 60px;
}

.Name {
    font-family: 'Aboreto', cursive;
    font-size: 2em;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.img-wrapper {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.profile-img {
    margin-left: 40px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.rs-panel-body {
    padding: 0 !important;
}

.btn-right {
    margin-left: 20px;
}

.profile-message {
    margin: 0 0 40px 40px;
    box-shadow: 3px 3px 8px #8e8d8d;

}

.profile-message div {
    text-align: center;
    background-color: #f4f4f4;
    border-radius: .5em;
    font-size: 1.07em;
}

.Carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.custom-slider {
    margin: 0;
    height: auto !important;
    max-width: 90%;
    box-shadow: 3px 3px 8px #8e8d8d;
}

.rs-carousel-slider-item {
    padding: 0 0 50px 0;
}

@media screen and (max-width: 1205px) {
    .Name {
        font-size: 2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Profile {
        padding: 0;
    }

    .Panel {
        padding: 15px;
        font-size: 1em;
    }

    .Name {
        font-size: 2.5em;
    }

    .profile-img {
        margin-left: 30px;
    }

    .profile-message {
        margin: 0 0 30px 30px;
    }

    .profile-message.rs-message {
        font-size: 1.3em;
    }

    .custom-slider {
        height: 490px !important;
        width: 330px;
    }

    .Profile-Info {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 767px) {
    .Profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .rs-flex-box-grid {
        display: flex;
        flex-direction: column !important;
    }

    .rs-flex-box-grid-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Panel {
        padding: 15px;
        font-size: 1em;
    }

    .Panel.rs-panel {
        margin: 0;
        width: 100%;
    }

    .rs-flex-box-grid-item-11 {
        width: 100% !important;
    }

    .rs-flex-box-grid-item-13 {
        width: 100% !important;
    }

    .Name {
        font-size: 2.5em;
    }

    .profile-img {
        margin-left: 0;
    }

    .profile-message {
        margin: 0 0 20px 0;
    }

    .profile-message.rs-message {
        font-size: 1.3em;
    }

    .Profile-Info {
        font-size: 1.3em;
    }

    .custom-slider {
        height: 490px !important;
        width: 330px;
        margin: 0;
    }
}